html ::-webkit-scrollbar {
    width: 10px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #bc0606; 
}


body {
    margin: 0;
    overflow-x: hidden;
}

.menu {
    position: relative;
    width: 100%;
}

.img-nav img {
    width: 100%;
    height: 70px;
}

.img-nav {
    margin-bottom: -10px;
}

nav {
    margin-top: -10px;
    width: 100%;
    background-color: #A70A0A;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    box-shadow: 5px 5px 5px rgba(5, 6, 7, 0.5);
}

.nav-logo {
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 2;
}

.nav-logo img {
    width: 80%;
}

nav ul {
    list-style-type: none;
    margin: 0 auto; /* Margens automáticas para centralizar */
    padding: 0;
    display: flex;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
}

nav ul li {
    margin-right: 40px;
    padding-right: 50px;
    border-right: 1px solid white;
}

nav ul li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    color: rgb(230, 85, 85); 
}

.img-socio {
    position: absolute;
    top: 42px;
    right: 50px;
}

.img-socio img {
    width: 115px;
}

.bg-placar {
    width: 100%;
    z-index: 1;
}

.bg-placar img {
    width: 100%;
    height: 60px;
    opacity: 60%;
}

.times {
    position: absolute;
    top: 82%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.times img {
    width: 40px;
}

.times span {
    color: #A70A0A;
    font-family: 'Ubuntu', sans-serif;
}

.time-1 {
margin-right: 10px;
}

.time-2 {
    margin-left: 10px;
}

.nome-camp {
    position: absolute;
    top: 76%;
    left: 46%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.nome-camp span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: #181616;
}

.nome-camp p {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}

.data {
    font-weight: 600;
}

.horario {
    font-weight: 100;
}

.nome-estadio {
    color: #A70A0A;
    position: absolute;
    top: 86%;
    left: 38%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

.box-ingressos {
    background-color: #A1111B;
    width: 110px;
    height: 35px;
    position: absolute;
    top: 81%;
    left: 63%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 5px 0px rgba(5, 6, 7, 0.5);
    cursor: pointer;
}

.box-ingressos p {
    margin-left: 14px;
    color: #fff;
    font-family:  'Roboto', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.destaque-header {
    background-color: #A70A0A;
    width: 100%;
    margin-top: -3px;
}

.img-destaque{
    width: 100%;
    display: flex;
    padding: 0px 0px 4px;
}

.img-destaque img {
    width: 50%;
    margin-top: 4px;
    cursor: pointer;
}

.img-destaque img:hover {
    opacity: 0.9;
} 

.noticia2 {
    margin-left: 4px;
}

.container {
    width: 30%;
}

.historia {
    font-family: 'Rajdhani', sans-serif;
    color: #AD0000;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 30px;
}

.noticia-1 {
    position: absolute;
    background-color: #7a0202;
    width: 400px;
    bottom: 20px;
    height: 95px;
    margin-left: 240px;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    padding-top: 20px;
    padding-left: 20px;
    opacity: 90%;
    font-size: 20px;
}

.box-noticias {
    position: absolute;
    background-color: #EEE9E5;
    width: 100px;
    height: 30px;
    bottom: 135px;
    margin-left: 553px;
    padding-left: 8px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px;
    color: #AD0000;
    font-weight: 700;
    font-size: 25px;
}

.noticia-2 {
    right: 20px; 
    position: absolute;
    background-color: #7a0202;
    width: 400px;
    bottom: 20px;
    height: 95px;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    padding-top: 20px;
    padding-left: 10px;
    opacity: 90%;
    font-size: 20px;
}

.box-noticias-2 {
    position: absolute;
    right: 20px; 
    background-color: #EEE9E5;
    width: 100px;
    height: 30px;
    bottom: 135px;
    margin-left: 553px;
    padding-left: 8px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px;
    color: #AD0000;
    font-weight: 700;
    font-size: 25px;
}

.box-text {
    width: 400px;
    color: #fff;
    background-color: #AD0000;
    height: 210px;
    margin-top: 50px;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    padding-right: 30px;
    box-shadow: 5px 5px 5px rgba(5, 6, 7, 0.5);
}

.box-img {
    background-color: #F1E8E8;
    width: 60%;
    height: 180px;
    margin-left: 90px;
    margin-top: 10px;
    bottom: 100px;
    padding-top: 120px;
    padding-bottom: 60px;
    border-radius: 3px;
}

.box-teximg {
    display: flex;
}

.img-hexa {
    position: absolute;
    right: 30px;
}

.img-hexa img{
    float: right;
    width: 800px;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: 10px 10px 10px rgba(5, 6, 7, 0.5);
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.img-hexa img:hover {
    box-shadow: -10px 10px 10px -1px rgba(5, 6, 7, 0.313);
}

.container2 {
    display: flex;
}


.boxRed {
    margin-top: 70px;
    background-color: #AD0000;
    width: 430px;
    height: 375px;
    position: relative;
    box-shadow: 5px 5px 5px rgba(5, 6, 7, 0.5);
}

.card {
    margin-top: 30px;
    background-color: #F1E8E8;
    width: 520px;
    position: absolute;
    height: 325px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(137, 142, 146, 0.5);
    overflow: hidden;
    cursor: pointer;
}

.card-img img {
    width: 500px;
   padding-top: 10px;
   margin-left: 10px;
   border-radius: 5px;
}

.card-info {
    position: absolute;
    bottom: 1em;
    width: 140px;
    text-align: center;
    background-color: #EEE9E5;
    border-radius: 2px;
    opacity: 0;
   transition: opacity 0.3s ease;
   font-family: 'Rajdhani', sans-serif;
}

.card:hover .card-info {
    opacity: 1;
}

.h1 {
    width: 100%;
    color: #AD0000;
    margin-left: 270px;
    font-family: 'Rajdhani', sans-serif;
    margin-top: 40px;
}

.intocaveis {
    font-size: 32px;
}

.container3 {
    width: 100%;
}

.text2 {
    float: right;
    width: 70%;
    background-color: #EEE9E5;
    height: 250px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #550505;
    border-radius: 3px;

}


.container4 {
    margin-top: 30px;
    width: 100%;
    display: flex;
}

.text3 {
    width: 50%;
    margin-top: 20px;
    background-color: #AD0000;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    color: #fff;
    border-radius: 3px;
}

.boxRed2 {
    margin-left: 250px;
    margin-top: 20px;
    background-color: #AD0000;
    width: 400px;
    height: 340px;
    position: relative;
    box-shadow: 5px 5px 5px rgba(5, 6, 7, 0.5);
    padding-bottom: 10px;
}

.card2 {
    margin-top: 10px;
    background-color: #F1E8E8;
    width: 390px;
    position: absolute;
    height: 325px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(137, 142, 146, 0.5);
}

.card-img2 img {
    position: absolute;
    width: 380px;
    margin-left: 10px;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}